@model ICARUS.Models.Email
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <h4>Send an email</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.fromName, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.fromName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.fromName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.fromEmail, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.fromEmail, new { @class = "form-control", @Value = User.Identity.Name, @readonly="readonly" })
            @Html.ValidationMessageFor(m => m.fromEmail)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.subject, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.subject)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.toEmail, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.toEmail, new {
                @class = "form-control",
                @Value = ((Request.Params["toEmail"]!=null)?Request.Params["toEmail"]:"ryan@spoonmedia.ca"),
                @readonly = "readonly"
            })
            @Html.ValidationMessageFor(m => m.toEmail)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.message, new { @class = "control-label" })
        <div>
            @Html.TextAreaFor(m => m.message, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.message)
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h4><a href="mailto:ryan@spoonmedia.ca">ryan@spoonmedia.ca</a></h4>
