@model ICARUS.Models.Icarus.FormPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.formId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitterId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.submitterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xmlResults)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.xmlResults)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>