@model IEnumerable<ICARUS.Models.FormElement>
@{
    ViewBag.Title = "Form Elements Index";
}
<h2>
    Form Elements: @ViewBag.title
    
    <!--
    <input type="number"
           class="form-control"
           value="@ViewContext.RouteData.Values["id"]"
           onchange="window.location.href = this.value" />
    -->

    <div id="indexFilter" style="float:right;">
        <!-- Loaded via JS -->
    </div>

</h2>
@{
    if (User.IsInRole("Admin")) {
        <h4>
            @Html.ActionLink("Add New Form Element", "Create", "FormElements", new { id = ViewContext.RouteData.Values["id"] }, null) &nbsp;|&nbsp;
            @if (User.IsInRole("Admin")) {
                @Html.ActionLink("Edit Group | ", "Index", "FormGroups", new { id = -1 }, null) 
                @Html.ActionLink("Delete Group", "Delete", "FormElements", new { id = -1 }, null) //ViewBag.formGroup.id
            }
        </h4>
    }
}
<table class="table-fixed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tagId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typeId)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tagId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.typeId)
                </td>
                
                <td align="right" style="overflow: visible">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default">
                            @Html.ActionLink("Options", "Index", "FormElementOptions", new { id = item.id }, new { @class = "text-left" })
                        </button>
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" style="left:-75px">
                            <li>@Html.ActionLink("Options", "Index", "FormElementOptions", new { id = item.id }, new { @class = "text-left" })</li>
                            <li>@Html.ActionLink("Edit", "Edit", new { area = "", id = item.id }, new { @class = "text-left" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", new { area = "", id = item.id }, new { @class = "text-left" })</li>
                        </ul>

                        
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>

@section viewInit {
    <script type="text/javascript">
        $(".btn-delete").on('click', function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            if (confirm('Are you sure you want to do that?\nOnce deleted, this object can not be restored!')) {
                return true;
            } else {
                console.log('Action cancelled');
                return false;
            };
        });
    </script>

    <script type="text/javascript">
        var inputList = new IcarusIndex(
                document.getElementById('indexFilter'), '@Url.RouteUrl("formCategoriesPost")', '@ViewContext.RouteData.Values["id"]'
            );
    </script>

}