@model ICARUS.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "ExternalLoginConfirmation";
}
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new {
        ReturnUrl = ViewBag.ReturnUrl
    }, FormMethod.Post, new { 
        @class = "form-horizontal", 
        role = "form", 
        id = "externalLoginConfirmation", 
        style = "padding:1em;" 
    })) {    
    
        <h3>Linking your @ViewBag.LoginProvider account.</h3>
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.<br />
            Please enter a user name for this site below and click the Register button to finish
            logging in.
        </p>
        <div>
            <div style="align-content:">
                @Html.LabelFor(m => m.Email, new { })
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <div><input id="btnSubmit" type="submit" class="btn btn-default" value="Register" /></div>
            </div>
        </div>
    

    }

    @if (!User.Identity.IsAuthenticated) {
        <script type="text/javascript">
            app.registerExternal('@Model.Email');
            setTimeout(function () {
                
            }, 1000);
        </script>
    } else {
        <script type="text/javascript">
            app.loader.log(100, 'You are already logged in.\nRedirecting...');
            setTimeout(function () {
                location.href = '/';
            }, 1000);
        </script>
    }
}
@*section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@