@model ICARUS.Models.FormElementOption
@{
    ViewBag.Title = "Details";
}
<h2>Form Element Option Details</h2>
<h4>Detailed view of FormElementOption @Model.id</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.parentId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.parentId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.childGroupId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.childGroupId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.label)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.label)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.value)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.value)
    </dd>

</dl>
<h4>@Html.ActionLink("Edit", "Edit", new { id = Model.id }) | @Html.ActionLink("Back to List", "Index")</h4>
