@model ICARUS.Models.Form
@{ ViewBag.Title = "Form: "+Model.id; }
<div id="formContainer">
    @* 
        A hidden form to pass the initial formId to the server and instantiate the Icarus form object 
        The 'formPostRequest' form is consumed when the Icarus Form is constructed
    *@
    <form id="formPostRequest" style="display:none">
        
        @* The anti forgery token must be passed to IcarusForms *@
        @if (Request.IsAuthenticated) {
            @Html.AntiForgeryToken()
        }
        <input type="hidden" name="id" value="@Model.id" />
        <input type="hidden" name="submitter" value="@User.Identity.Name" />
        
    </form>
</div>

@section viewInit {

    @*
        Retrieve a json object by calling an action from the FORMS controller with the given form ID

        // For security reasons, this should be a POST request
        $.getJSON('/Forms/FormObject/@Model.id', function(data){
            alert('Retrieved data:\n'+data);
        });
    *@

    <script type="text/javascript">
        console.log('Form Javascript Begins');

        // Construct an Icarus Form inside the form container
        var c = document.getElementById('formContainer');

        var antiForgeryToken = document.getElementById('formPostRequest')['__RequestVerificationToken'];

        // Serialize the local form id
        var dataToBeSent = $("#formPostRequest").serialize();

        // Retrieve routes from RouteConfig
        var route = "@Url.RouteUrl("formObject")";
        var postRoute = "@Url.RouteUrl("formPost")";
        var postGroupRoute = "@Url.RouteUrl("formGroupPost")";

        // POST request to server for the given form
        $.post(route, dataToBeSent, function (data, textStatus) {

            // textStatus contains the status: success, error, etc
            // If server responds with 'success'
            if (textStatus == "success") {
                console.log('Constructing form id: ' + data.id);
                var iForm = new IcarusForm(c, data, postRoute, postGroupRoute, antiForgeryToken.value); //antiForgeryToken
            } else {
                console.log('Failed to retrieve form object from server with status: "'+textStatus+'"');
            }
        }, "json");

        // Dispose of the initial form
        c.innerHTML = "";

        console.log('Form Javascript Ends');
    </script>
}