@model ICARUS.Models.Form

@{
    ViewBag.Title = "Create";
}
@using Microsoft.AspNet.Identity
<h2>Web Forms</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <h4>Create a Web Form</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.label, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.label, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.label, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.categoryId, htmlAttributes: new { @class = "control-label" })
        <div>
            
            @* This is not necessary.  Create exception if no values for 'groups' exist *@

            

            @Html.DropDownListFor(
                model => model.categoryId,
                new SelectList(Model.categoryItems, "Value", "Text", ViewContext.RouteData.Values["id"]),
                new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })


        </div>
    </div>

    <div id="sandbox" class="form-group">
        <!-- Sandbox -->        
    </div>


    <div class="form-group">
        <div>
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<h4>@Html.ActionLink("Back to List", "Index")</h4>

@section viewInit {
    <script type="text/javascript">
        var inputList = new IcarusInputList(
            document.getElementById('sandbox'), '', '@Url.RouteUrl("formGroupsPost")', 'Groups', 'groups', 'FormGroups', '@Url.RouteUrl("formCategoriesPost")'
            );
    </script>
}
