@model IEnumerable<ICARUS.Models.Form>
@{
    ViewBag.Title = "Forms";
}
<h2>Web Forms</h2>
@{
    if(User.IsInRole("Admin")){
        <h4>@Html.ActionLink("Create New Web Form", "Create")</h4>
    }
}
<table class="table-fixed">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>Form</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink(item.categoryId.ToString(), "CategoryId", new { categoryId = item.categoryId })
                </td>
                <td>
                    @Html.ActionLink(item.label, "Form", new { id = item.id })
                </td>
                <td>
                   @Html.ActionLink(
                       "Email "+item.authorId, "Contact", "Home",
                       new {
                           area = "", id = item.authorId, toEmail = item.authorId
                       },
                       new {
                           @class = "email-link"
                       }
                   )
                </td>

                <td align="right" style="overflow: visible">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                        <button type="button" class="btn btn-default">
                            @Html.ActionLink("Details", "Details", new { area = "", id = item.id }, new { @class = "text-left" })
                        </button>
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            @if (User.IsInRole("Admin")){
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            }
                        </button>
                        @if (User.IsInRole("Admin")){
                            <ul class="dropdown-menu" style="left:-75px">
                                <li>
                                    @Html.ActionLink("Edit", "Edit", new { area = "", id = item.id }, new { @class = "text-left" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    @Html.ActionLink("Delete", "Delete", new { area = "", id = item.id }, new { @class = "text-left" })
                                </li>
                            </ul>
                        }
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

<h4>@Html.ActionLink("Home", "Index", "Home")</h4>

@section viewInit {
    <script type="text/javascript">
        $(".btn-delete").on('click', function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            if (confirm('Are you sure you want to do that?\nOnce deleted, this object can not be restored!')) {
                return true;
            } else {
                console.log('Action cancelled');
                return false;
            };
        });
    </script>
}